* {
  box-sizing: border-box;
  background-color: yellow;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 40%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.game-grid {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.info-grid {
  width: 40%;
  background: grey;
}

.info {
  height: 25%;
  background: grey;
}
/* .button-container {
  height: 25%;
}

.scoreboard {
  height: 25%;
}

.lines {
  height: 25%;
}

.next {
  height:25%;
} */

/* GAME BLOCKS */
.square {
  border: 1px solid green;
  width: 10%;
  /* TODO: Can I fix a height to scale with width? */
  height: 25px;
  background-color: white;
}

.block {
  background-color: grey;
}

.locked {
  background-color: black;
}
